.App {
  text-align: center;
}

ul{
  list-style: none
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.point{
  color: red;
  cursor: pointer;
}
input:checked + span{
  color: olive
}